*{ 
	margin:0;
	padding: 0;
	text-decoration: none;
}
.content-1{
	display: flex;
    justify-content: space-between;
}
.logo-contain{
	height: 2.7em;
    margin-left: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}
.menu{
	color: #33333399;
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.banner{
	width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}
.authentication a {
	color: #000000;
}
.authentication {
	background-color: #FFBE00;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 11px;
}
.content-2{
	height: 39.5em;
}
.content-text-2{
	height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    height: 22em;
}
.content-banner{
	margin-top: 1em;
    margin-bottom: 3em;
}
.explore{
	border: none;
    width: 14em;
    height: 4em;
    background-color: #FFBE00;
    border-radius: 100px;
    font-weight: 700;
    font-size: x-small;
}
.lastest-car {
	padding: 75px 50px 25px 100px;
    text-align: center;
    font-size: x-large;
    color: #333333;
}
.list-of-items li{
	display: flex;
    gap: 2em;
    padding: 1.5em;
    background-color: lightyellow;
    width: 37%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;

}
.detail-product{
	display: flex;
    flex-direction: column;
}
.title-product{
	font-weight: bolder;
    margin-bottom: 1em;
}
.detail-1{
	display: flex;
    gap: 2em;
    margin-bottom: 6px;
}
.detail-2{
	margin-bottom: 1.5em;
}
.list-of-items ul{
	display:flex;
	gap: 1.5em;
	justify-content: center;
	margin-bottom: 2em;
}
.contain-seemore{
	height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seemore{
	font-weight: 700;
    height: 3em;
    width: 12em;
    border: none;
    background-color: #FFBE00;
    border-radius: 100px;
}
.content-4{
	margin-top: 4em;
	height: 32em;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.image-vehicle{
    width: 100%;
    z-index: -1;
    position: absolute;
}
.content-2 img {
    z-index: -1;
    position: absolute !important;
}
.content-3 {
    margin-top: 11em;
}
.content-4-inf{
	height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 33em;
    padding: 5em;
}
.title-footer{
	font-size: large;
    font-family: sans-serif;
}
.content-4-inf {
	color: #000000CC;
    font-family: fantasy;
}
.content-4-inf{
	font-size: small;
}
.content-4-inf form{
	display: flex;
    flex-direction: column;
    gap: 10px;
}
.contain-two-inputs input{
	background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 100px;
    padding: 0.7em;
    width: 14em;
    display: flex;
}
.contain-two-inputs{
	display: flex;
    gap: 1em;
}
.input-email,
.input-detail{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 100px;
	padding: 0.7em;
    width: 30.7em;
}
.input-detail{
	height: 4em;
    padding: 1em;
    border-radius: 14px;
    width: 30em;
}
.submit{
	width: 31%;
    height: 32%;
    background-color: black;
    color: #FFD101;
    border: none;
    border-radius: 100px;
}
.footer{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #000000D4;
}
.contain-two-images{
	flex-direction: column;
    display: flex;
    width: 20%;
    padding: 3em;
    justify-content: center;
    align-items: end;
}
.image-footer{
	display: flex;
    justify-content: flex-end;
}
.footer-in4{
	width: 100%;
    display: flex;
    gap: 11em;
    justify-content: center;
}
.footer-in4 h6{
	    color: #FFBE00;
	    font-size: large;
}
.information{
	display: flex;
    flex-direction: column;
    gap: 1em;
}
.information a{
	cursor: pointer;
}
.fa-brands.fa-facebook{
	color: white;
}
.line{
	width: 93%;
    height: 1px;
    background-color: grey;
    margin: 45px;
}
.fot {
	width: 100%;
    gap: 20%;
    display: flex;
    justify-content: center;
    padding: 2em;
    align-items: center;
    margin-left: 8em;

}
