<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./assets/styles/index.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<title>LOGIN</title>
</head>
<body id="login-body">
	<div class="contain-register">
		<h1 class="register-title">REGISTER</h1>
		<span class="below-register-title">Register and start bidding car from all over Vietnam!</span>
		<form class="register">
			<input type="text" name="full-name" href="" placeholder="Full name">
			<input type="number" name="phone" href="" placeholder="Phone">
			<input type="email" name="email" href="" placeholder="Email">
			<input type="password" name="password" href="" placeholder="Pass word">
			<input type="password" name="cf-password" href="" placeholder="Confirm Password">
			<div class="stickbox">
				<input type="checkbox" id="terms" name="term" value="term" class="input-stick">
				<label for="term">I agree with the term & conditions</label><br>
			</div>
			<button class="register-btn">Register</button>
		</form>
		<img src="./assets/images/logo-login.png">
	</div>
</body>
</html>